In [54]:
import csv
import os
from pathlib import Path
import glob
import datetime

### Extract data

In [11]:
!kaggle datasets download -d sudalairajkumar/cryptocurrencypricehistory

cryptocurrencypricehistory.zip: Skipping, found more recently modified local copy (use --force to force download)

In [21]:
#combine all files of different crypto markets into one 
kaggle_download_datapath = os.getenv('kaggle_download_datapath')
kaggle_dateset_path = Path(kaggle_download_datapath+'/cryptocurrencypricehistory')
filepaths = [f for f in kaggle_dateset_path.glob("*.csv") ]
df = pd.concat(map(pd.read_csv, filepaths))

In [22]:
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,NEM,XEM,2015-04-02 23:59:59,0.000323,0.000227,0.000242,0.000314,2.854940e+04,2.823534e+06
1,2,NEM,XEM,2015-04-03 23:59:59,0.000330,0.000291,0.000309,0.000310,2.067790e+04,2.792457e+06
2,3,NEM,XEM,2015-04-04 23:59:59,0.000318,0.000251,0.000310,0.000277,2.355020e+04,2.488770e+06
3,4,NEM,XEM,2015-04-05 23:59:59,0.000283,0.000218,0.000272,0.000232,2.680020e+04,2.087388e+06
4,5,NEM,XEM,2015-04-06 23:59:59,0.000299,0.000229,0.000232,0.000289,2.251150e+04,2.598354e+06
...,...,...,...,...,...,...,...,...,...,...
883,884,Wrapped Bitcoin,WBTC,2021-07-02 23:59:59,33841.008754,32761.826975,33529.259522,33824.263339,1.609147e+08,6.625345e+09
884,885,Wrapped Bitcoin,WBTC,2021-07-03 23:59:59,34871.130346,33381.245301,33806.037094,34676.985915,1.659959e+08,6.792373e+09
885,886,Wrapped Bitcoin,WBTC,2021-07-04 23:59:59,35914.361323,34382.512697,34672.651028,35289.762931,1.583060e+08,6.912401e+09
886,887,Wrapped Bitcoin,WBTC,2021-07-05 23:59:59,35294.411111,33288.379267,35294.411111,33806.661764,1.711673e+08,6.621898e+09
887,888,Wrapped Bitcoin,WBTC,2021-07-06 23:59:59,35004.772491,33700.560335,33772.552729,34189.372826,2.035448e+08,6.713947e+09

In [35]:
df.Symbol.unique()

array(['XEM', 'EOS', 'XMR', 'DOT', 'USDC', 'UNI', 'BNB', 'MIOTA', 'AAVE',
       'SOL', 'BTC', 'ADA', 'USDT', 'ATOM', 'LINK', 'LTC', 'XRP', 'ETH',
       'TRX', 'XLM', 'CRO', 'DOGE', 'WBTC'], dtype=object)

In [33]:
##export data frame as csv
combined_csv_datapath = kaggle_download_datapath+'/crypto_combined_dataset.csv'
df.to_csv(combined_csv_datapath)

In [70]:
##count number of rows wih missing data
df.isnull().values.ravel().sum()

0

In [66]:
##read combined_csv file 
crpyto_data_file = open(combined_csv_datapath)
csv_reader = csv.reader(crpyto_data_file)
print(csv_reader)

<_csv.reader object at 0x1140d5e70>

In [67]:
df.dtypes

SNo            int64
Name          object
Symbol        object
Date          object
High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Marketcap    float64
dtype: object

### Transform Data

In [68]:
##we need to convert datatype of Date from object to datetime64
crypto_data = []

next(csv_reader,None) #to skip row 1 i.e. header row

for row in csv_reader:
    row[4] = datetime.datetime.strptime(row[4], '%Y-%m-%d %H:%M:%S')
    crypto_data.append(row)
    

print(len(crypto_data))
print(crypto_data[:2])

37082
[['0', '1', 'NEM', 'XEM', datetime.datetime(2015, 4, 2, 23, 59, 59), '0.0003230780130252', '0.0002272779966006', '0.0002421469980617', '0.000313725991873', '28549.400390625', '2823533.99969'], ['1', '2', 'NEM', 'XEM', datetime.datetime(2015, 4, 3, 23, 59, 59), '0.0003296759969089', '0.0002907729940488', '0.0003087499935645', '0.0003102729970123', '20677.900390625', '2792456.99969']]

### Loading the data into MySQL

In [78]:
!pip3 install mysql

Requirement already satisfied: mysql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.0.3)
Requirement already satisfied: mysqlclient in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from mysql) (2.0.3)

In [79]:
!which python3

/Library/Frameworks/Python.framework/Versions/3.10/bin/python3

In [81]:
import mysql

ModuleNotFoundError: No module named 'mysql'

In [76]:
user = os.getenv('mysql_usrname')

cnx = connection.MySQLConnection(user='scott', password='password',
                                 host='127.0.0.1',
                                 database='employees')
cnx.close()

NameError: name 'connection' is not defined

In [82]:
(print(os.getenv('mysql_usrname')))

None